ErrorDocument 404 /404.html
DirectoryIndex index.html
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
AllowOverride All
AddType application/wasm .wasm
<Files .htaccess>
order allow,deny
deny from all
</Files>