body {
  background: #000;
  padding: 200px 0;
  text-align: center;
  align-content: center;
  align-items: center;
}
#dotNet a, #dotNet a:visited {
  font-size: 68px;
  color: #ff6800;
  text-decoration: none;
  font-family: 'Lucida Sans Typewriter', 'Lucida Console', monospace;
}
#navBar {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  padding: 8px 3px;
  list-style: none outside none;
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 74px;
}
#navBar a, #navBar a:visited, #cornerLink a, #cornerLink a:visited {
  font-family: 'Lucida Sans Regular', Verdana, Tahoma, sans-serif;
  color: #bbb;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
#navBar a:hover, #navBar #navc, #cornerLink a:hover {
  color: #fff;
}
#cornerLink {
  text-align: right !important;
  position: fixed;
  bottom: 0pt; 
  right: 0pt;
  padding: 24px;
  letter-spacing: 2px;
}
#textWall h1 {
  color: #fff;
  font-family: 'Lucida Sans Regular', Verdana, Tahoma, sans-serif;
}
#textWall p, li {
  color: #dedede !important;
  font-family: 'Lucida Sans Regular', Verdana, Tahoma, sans-serif;
}
#textWall a, #textWall a:visited {
  line-height: 1.5;
  list-style: none;
  font-family: 'Lucida Sans Regular', Verdana, Tahoma, sans-serif;
  color: #2e82ff;
  text-decoration: none;
}
#HCB_comment_box {
  color: #fff;
  width: 700px;
  margin: auto;
}
#HCB_comment_box [id*="replies"] {
  padding-right: 30px;
}
#HCB_comment_box h3 {
  font-size: 0px;
}
@font-face { 
  font-family: "Lucida Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: url(/stuff/fonts/LSANS.woff);
}
@font-face { 
  font-family: "Lucida Sans Typewriter";
  font-style: normal;
  font-weight: normal;
  src: url(/stuff/fonts/LTYPE.woff);
}