body {
    background: #000000;
    padding: 200px 0;
    text-align: center;
    align-content: center;
    align-items: center;
}

#navbar {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    padding: 8px 3px;
    list-style: none outside none;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 74px;
}

#navbar a,
#navbar a:visited {
    font-family: 'Lucida Sans Regular';
    color: #7a7a7a;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

#navbar a:hover,
#navbar #navc {
    color: #FFFFFF;
}

#textwall h1 {
    color: #FFFFFF;
    font-family: 'Lucida Sans Regular';
}

#textwall p {
    color: rgb(202, 202, 202) !important;
    font-family: 'Lucida Sans Regular';
}

#HCB_comment_box {
    color: #FFFFFF;
    width: 700px;
    margin: auto;   
}

#HCB_comment_box h3 {
    font-size: 0px;
}

@font-face {
    font-family: 'Lucida Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lucida Sans Regular'), url('/stuff/LSANS.woff') format('woff');
    }